# Database Postgres
DB_HOST=localhost
DB_PORT_SOURCE=5432
DB_PORT_DEST=5433
DB_INTERNAL_PORT=5432
DB_NAME=challenge_db
DB_USER=user
DB_PASSWORD=password

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=orders

# Spark
SPARK_SHUFFLE_PARTITIONS=2
APP_NAME=ETL
POLLING_INTERVAL=5
TAX_RATE=0.22